body { background-color: #aaaa00; color: #333; }

h1 {
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino;
  font-size: 24px;
  font-color: #eeddee;
}

body, p, ol, ul, td {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size:   12px;
  line-height: 15px;
  font-color: #000;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #444444; }
a:visited { color: #444444; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
  padding-right: 20px;
}

#banner {
  padding: 15px;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino;
  font-size: 36px;
  margin-left: 275px;
  padding: 30px;
  font-color: #eeddee;	
}

#pageinfo {
  clear: left;
  float: left;
  margin-left: 15px;
}

#pageinfoheadline {
  float:left;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 25px;
}

#notes {
  float: right;
  margin-right: 50px;
}

#pagedetails p {
  float: left;
  clear: left;
  margin-left: 10px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size:   11px;
  font-color: #777777;
}

#footer {
  clear: left;
  padding: 20px;
  text-align: center;
}

#notice {
  color: black;
}

#mainbody {
  float: left;
  margin-left: 10px;
}

#sidebar {
  float: right;
  margin-right: 10px;
  padding: 1em;
  width: 20em;
  font-size: 14px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  line-height: 15px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
