body { background-color: #daaf5a; color: #333; }

h1 {
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino;
  font-size: 24px;
  font-color: #251a01;
}

h2 {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 18px;
  font-color: #251a01;
  text-shadow:#777777 1px 1px 1px;
}

body, p, ol, ul, td {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size:   12px;
  line-height: 16px;
  font-color: #000;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #251a01; }
a:visited { color: #251a01; }
a:hover { color: #fff; background-color:#332200; }

div.field, label, div.actions {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size:   14px;
  line-height: 25px;
  font-color: #251a01;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 1em;
}

#text-field {
	font-size: 40px;
}

#banner h1 {
  background-color: #251a01;
  width: 100%;
  height: 100%;
  padding-top: 22px;
  padding-bottom: 16px;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino;
  color: #daaf5a;	
  font-size: 46px;
  text-align: center;
}

#pageinfo {
  clear: left;
  float: left;
  width: 30em;
  margin-left: 15px;
}

#pageinfoheadline h1 {
  float:left;
  color: #251a01;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  text-shadow:#777777 0px 1px 3px;
}

#notes {
  float: right;
  margin-right: 70px;
  margin-top: -5px;
}

#footer {
  clear: left;
  padding: 10px;
  text-align: center;
}

#notice {
  color: white;
  font-size: 16px;
  margin-bottom: 3px;
  margin-left: 10px;
}

#mainbody {
  clear: left;
  float: left;
  margin-left: 10px;
}

#index_list p tr td {
  color: white;
  font-size: 10px;
}

#sidebar p {
  clear: top;
  float: right;
  margin-right: 1px;
  margin-left: 25px;
  margin-top: 5px;
  padding: 1em;
  width: 16em;
  font-size: 16px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  line-height: 5px;
  background-color: #ffd273;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
