<h3>
	The website's <%= limit %> most recently published pages
</h3>
<% Page.recent.limit(limit).each do |page| %>
	<%= pretty_date(page.published_date) %> <%= link_to page.metadata.content_title.html_safe, page %><br/>
<% end %>
