<h3>
	My <%= limit %> most recently published pages
</h3>
<% current_user.pages.recent.limit(limit).each do |page| %>
	<%= pretty_date(page.published_date) %> <%= page.metadata.content_title.html_safe %><br/>
<% end %>
