<h3>
	My <%= limit %> most recently published pages
</h3>
<% current_user.pages.recent.limit(limit).each do |page| %>
  <%= link_to page.metadata.content_title.html_safe, page %> (<%= pretty_date(page.updated_at) %> ) <br/>
<% end %>
