<form action="pages/search" method="get">
  <p>
  <%= text_field_tag :cms_page_id, params[:cms_page_id], :size => 10, :id => 'search_field' %>
  <%= submit_tag "Search by ID #", :name => nil %>
  </p>
</form>