<% form_tag search_pages_path, :method => :post do %>
  <p>
  <%= text_field_tag :search, params[:search], :size => 7, :id => 'search_field' %>
  <%= submit_tag "Search by Page ID #", :name => nil %>
  </p>
<% end %>