<h1>Editing page</h1>

<%= render 'form' %>

<%= link_to 'Forget This Editing Session', @page %> |
<%= link_to 'Back to the Pages Index', pages_path %> |
<%= link_to 'Destroy This Page', @page, :confirm => 'Are you sure?', :method => :delete %>
