<h1>List of Offline Pages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= link_to page.headline, page %>
  </tr>
<% end %>
</table>

<br />
<hr>
<%= link_to 'Create a New Page', new_page_path %>
