<h1>Search results</h1>
<br>
<div id="mainbody">
  <ul>
    <% @pages.each do |page| %>
      <li><%= link_to page.metadata.content_title.html_safe, :action => 'show', :id => page.id %></li>
      <% end %>
  </ul>
</div>
    
<div id="footer">
  <%= link_to 'Go to the list of all pages', pages_path %> |
  <%= link_to 'Back to your dashboard', dashboards_path %>
  </div>
